
    footer{
        padding: 16px;
        font-size: 16px;
        font-family: 'Bebas Neue', cursive; 
        width: 100%;
        height: absolute;
        background: rgb(0,0,0);
        color: white;
        position: fixed;
        bottom: 0px;
    }
    footer a{
        list-style: none;
        color: white;
    }
    footer i{
        font-family: 'Bebas Neue', cursive; 
    }